@charset "UTF-8";
a{
	 text-decoration: none;
}
.btn-outline-secondary {
	margin-right: 0.5rem;
}
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }
      
      
      
      

      
 
.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
.board {
	margin: 0 auto;
	width: 1320px;
}
.boardTitle {
	
    width: 1320px;
    height: 80px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 0 auto;
   
	
}

section.boardView {
	position: relative;
    margin-bottom: 60px;
}

.boardView header {
	height: 60px;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 20px 20px 20px 20px;
}

.title {
	font-size: 18px;
	font-weight: bold;
	width:1180px;
	float:left;
}



.inner{
	padding-top:20px;
    position: relative;

    color: #666666;
    line-height: 1.6;
}
	
.boardTitle2 {   
	display: block;
    padding: 5px 0 0px;
    line-height: 34px;
    font-size: 26px;
    color: #2a2a2a;
    letter-spacing: -1px;
    text-align: center;
    font-weight: bold;
}
.boardViewDetail{  
	margin-top: 30px;
    padding: 0 35px;
    background: url(../img/whatsnew/notice2017/noticeBg1.png) no-repeat left bottom;
    border: 1px solid #ddd;

}

.hr{
	width:70px;
	margin-left:auto;
	margin-right: auto;
	border: solid 2px #666666;
	
}

.boardContent {
    padding: 35px 0;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2a2a2a;
    background: url(../img/whatsnew/notice2017/noticeTitBg2.png) no-repeat center bottom;
    background-size: 100% auto;
}

.btn-bottom{
	grid-template-columns: repeat();
	text-align: right;
    width: 1320px;
    height: 45px;
    position: relative;
    padding:0px;
    margin-top: 20px;
    
}

.btn-list{
    border-radius: 3px;
    height: 45px;
    width: 84px;
    background: #666666;
    position: static;
    right: 0;
    top: 0;
}
	
.btn-list a {
	display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 45px;
    line-height: 45px;
    width: 100%;

}

.btn-list2{
	display: inline-block;
    border-radius: 3px;
    height: 45px;
    width: 84px;
    background: #666666;
    position: absolute;
    right: 0;
    top: 0;
}
	
.btn-list2 a {
	display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    height: 45px;
    line-height: 45px;
    width: 100%;

}

ul{
	margin-top:2em;
	text-align: right;
}

li{
	display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    list-style: none;
}

.articleNo {
	font-size: 20px;
	text-align: center;
}

.info {
	float:left;
}

.detail {
	height: 30px;
	display: inline-block;
	font-size: 16px;
	margin: 0 0 -6px;
    padding-top: 34px;
	text-align: left;
	font-size: 20px;
	float:left;

}
.memId{
	font-size: 14px;
	width:100px;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 30px;
    font: inherit;
    vertical-align: baseline;
    float:left;
}
.regDate{
	opacity: .5;
}



 




     
 